
<mat-card>

  <mat-card-title>
    Login
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="formGroup" (submit)="onSubmit()">

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input
          name="username"
          formControlName="username"
          type="text"
          matInput
          placeholder="Introduce tu usuario"
        >
        <mat-error *ngIf="!(f.username.valid && f.username.pristine) && f.username.errors && f.username.errors.required">El usuario es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input
          name="password"
          formControlName="password"
          type="password"
          matInput
          placeholder="Introduce tu contraseña"
        >
        <mat-error *ngIf="!(f.password.valid && f.password.pristine) && f.password.errors && f.password.errors.required">La contraseña es obligatoria</mat-error>
        <mat-error *ngIf="!(f.password.valid && f.password.pristine) && f.password.errors && f.password.errors.minlength">Mínimo {{f.password.errors.minlength.requiredLength}} caracteres</mat-error>

      </mat-form-field>

      <button
        mat-button
        [disabled]="formGroup.invalid"
      >Entrar</button>

    </form>
  </mat-card-content>

  <mat-card-footer>
    <p>¿No tienes cuenta? <a routerLink="/registro">Registrate</a></p>
    <p>TODO: recuperar contraseña</p>
  </mat-card-footer>

</mat-card>
