<mat-toolbar>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
 <button mat-menu-item><a routerLink="/" routerLinkActive="active">Inicio</a> </button>
  <button mat-menu-item><a routerLink="/login" routerLinkActive="active">Log in</a></button>
  <button mat-menu-item><a routerLink="/gestion/users" routerLinkActive="active">Users</a></button>
  <button mat-menu-item><a routerLink="/registro" routerLinkActive="active">¡Regístrate!</a></button>
</mat-menu></mat-toolbar>

<mat-toolbar>toolbar login, <a routerLink="/gestion/users" routerLinkActive="active"> perfil</a></mat-toolbar>

