


<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened><mat-toolbar>toolbar login y <a routerLink="/gestion/users" routerLinkActive="active">. perfil</a></mat-toolbar></mat-drawer>
  <mat-drawer-content><mat-toolbar>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
<button mat-menu-item><a routerLink="/" routerLinkActive="active"><mat-icon>home</mat-icon>
</a> </button>
  <button mat-menu-item><a [routerLink]="routesNamed['publicLogin']" routerLinkActive="active">Log in</a></button>
  <button mat-menu-item><a routerLink="/gestion/users" routerLinkActive="active">Users</a></button>
	<button mat-menu-item><a routerLink="/registro" routerLinkActive="active">¡Regístrate!</a></button>
	</mat-menu></mat-toolbar></mat-drawer-content>
</mat-drawer-container>

